body{
    background-color: #f5f0f4;
    margin-top: 80px;
}
.txtInput{
    border: 5px solid silver;
    border-radius: 10px;
    width: 300px;
    height: 25px;
}
button{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
}
.unit{
    margin: auto;
    width: 850px;
}

.area{
    margin-top: 10px;
    margin-left: 10px;
}

#exceptionList{
    width: 500px;
    margin: 10px auto 0;
    /*color: red;*/
    font-size: x-large;
}
form{
    margin: auto;
    text-align: left;
    width: 830px;
}
table{
    margin: auto;
    text-align: left;
    border: 1px solid #000000;
}
#filesList{
    margin-top: 10px;
}
td{
    border: 1px solid #000000;
}